<template name="main">

  <section class="profile">
    {{#each user}}
  	<div class="col-sm-2 profile-menu">
  		<div class="row">
  			<div class="col-sm-12 profile-picture">
  				<img src="{{picFacebook profile.id}}" alt="{{nome}}" class="img-circle img-responsive">
  			</div>
  			<div class="col-sm-12 text-center profile-description">
  				<h1>{{profile.name}}</h1>
  			</div>
  			<div class="col-sm-12 text-center">
  				<hr>
          <h3><small>Créditos do bem:</small>{{number}}</h3>
  			</div>
  		</div>
	   </div>
    {{/each}}
	<div class="col-sm-10 col-sm-offset-2 timeline margin-nav">
    {{#each events}}
		<ul class="cbp_tmtimeline">
	    <li>
	        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{time}}</span> <span>{{date}}</span></time>
	        <div class="cbp_tmicon">	<img src="images/{{linkong}}" alt="" class="img-responsive img-circle"></div>
	        <div class="cbp_tmlabel">
	            <h3>{{ong}} <small>{{fromNow createDate}}</small>
	            <br>
	            </h3>
	            <h2>
	            	{{title}}
	            </h2>
	            <p>
	            	Local: {{local}}
	            </p>
	            <p>
	            	Data de criação: {{parsedDate createDate}}
	            </p>
	            <p>
              {{>vaiGente}}
	            </p>
	        </div>
	    </li>
    </ul>
    {{/each}}
	</div>
  </section>
</template>

<template name="insideMain">
  <div class="col-sm-12 list-group-item timeline-event">
    <h4 class="list-group-item-heading">
      <div class="row">
          <span class="col-sm-1 foto">
            <img src="images/{{linkong}}" alt="{{nome}}" class="img-circle img-responsive">
          </span>
          <span class="col-sm-11 text-left nome">
            {{ong}}
            <br>
            <small>
              Adicionou {{type}} {{fromNow createDate}}
            </small>
          </span>
        </div>
    </h4>
    <div class="list-group-item-text">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <h3>{{title}}</h3>
        </div>
        <div class="col-sm-10 col-sm-offset-1  text-center">
          {{description}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="vaiGente">
	<button class="btn btn-primary" id="vaiGente">Seja gente boa</button>
</template>
