<template name="listOngs">
<div class="container">
	<div class="row ong-list margin-nav">
		<div class="col-lg-12 jumbotron">
			<h1>Conheça novas iniciativas</h1>
			<h2><small>Explore novas formas de mudar o mundo</small></h2>
		</div>
		<div class="col-sm-4 ong">
			<a href="{{pathFor 'ong'}}" class="thumbnail">
				<img src="/images/greenpeace.jpg" alt="{{nome}}" class="img-circle img-responsive">
				<h2>Greenpeace</h2>
				<p>
					O Greenpeace é uma organização global cuja missão é proteger o meio ambiente, promover a paz e inspirar mudanças de atitudes que garantam um futuro mais verde e limpo para esta e para as futuras gerações.
				</p>
			</a>
		</div>

		<div class="col-sm-4 ong">
			<a href="{{pathFor 'ong'}}" class="thumbnail">
				<img src="/images/greenpeace.jpg" alt="{{nome}}" class="img-circle img-responsive">
				<h2>Greenpeace</h2>
				<p>
					O Greenpeace é uma organização global cuja missão é proteger o meio ambiente, promover a paz e inspirar mudanças de atitudes que garantam um futuro mais verde e limpo para esta e para as futuras gerações.
				</p>
			</a>
		</div>

		<div class="col-sm-4 ong">
			<a href="{{pathFor 'ong'}}" class="thumbnail">
				<img src="/images/greenpeace.jpg" alt="{{nome}}" class="img-circle img-responsive">
				<h2>Greenpeace</h2>
				<p>
					O Greenpeace é uma organização global cuja missão é proteger o meio ambiente, promover a paz e inspirar mudanças de atitudes que garantam um futuro mais verde e limpo para esta e para as futuras gerações.
				</p>
			</a>
		</div>
	</div>
</div>
</template>

