<template name="index">
  <header class="header">
    <a name="top"></a>
    <div class="welcome">
      <div class="row caption">
        <div class="col-sm-12 text-center">
          <h1 class="text-center">Ser <strong>Gente Boa</strong> recompensa!</h1>
          <p class="loginFace login-button">Comece agora</p>
        </div>
      </div>
    </div>
  </header>
  <a name="how"></a>
  <section class="how section-green">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <!-- <h2>How it works</h2> -->
          <h2 class="text-center">Descubra como ser<br>Gente Boa!</h2>
          <img class="img-responsive" src="/images/comoFunciona.png">
        </div>
      </div>
    </div>
  </section>
  <a name="events"></a>
  <section class="events text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <h2>For events</h2> -->
          <h2> Eventos passados</h2>
          <!-- each pelos eventos -->
          {{#each eventsLanding}}
          <div class="col-sm-4">

            <i class="features features-instant"></i>
            <div class="row">
            	<div class="col-xs-6 col-xs-offset-3">
            		<img src="images/{{linkong}}" alt="" class="img-responsive " style="float:center;">
            	</div>
            </div>
            <h4>{{title}}</h4>
            <p>{{sub description}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <h3>Precisa de mais informações?</h3>
          <h4>Entre em contato conosco <br> responderemos o mais rápido possível</h4>
          <a href="mailto:" class="btn btn-default">Contato</a>
        </div>
      </div>
    </div>
  </section>
</template>
