<template name="notFound">
  <section class="events text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <h2>For events</h2> -->
          <h2>Será que você errou o link, gente boa?</h2>
          <!-- each pelos eventos -->

          <div class="col-sm-4">

            <i class="features features-instant"></i>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <img src="images/{{linkong}}" alt="" class="img-responsive " style="float:center;">
              </div>
            </div>
            <a href="{{pathFor 'index'}}" class="text-center">Volte para a página principal e comece a ajudar!</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

