<template name="recompensas">
	<div class="container margin-nav">
	  <div class="jumbotron">
		  <h1>Recompensas para quem merece</h1>
		  <p>Retire aqui seu voucher de desconto para produtos das empresas do bem</p>
		</div>
		<h1 class="creditos-do-bem"><small>Seus créditos do bem:</small>{{number}}</h1>
		<div class="row">
			<div class="col-sm-4">
				<h3>Magazine Luiza</h3>
				<img src="/images/magazineluiza.png" style="width:200px" alt="">
				<p>As melhores ofertas em móveis, eletrônicos, eletrodomésticos, informática e muito mais, você encontra no site do Magazine Luiza! <br> <b>Desconto de xx%</b></p>
				<p><button class="btn btn-primary magazine">Retirar	</button></p>
			</div>

			<div class="col-sm-4">
				<h3>Abril</h3>
				<img src="/images/abril.png" style="width:200px" alt="">
				<p>Assine as Revistas da Editora Abril com <br><b>desconto de xx%</b></p>
				<p><button class="btn btn-primary">Retirar	</button></p>
			</div>

			<div class="col-sm-4">
				<h3>IBM</h3>
				<img src="/images/ibm.jpg" style="width:200px" alt="">
				<p>Computadores, notebooks, servidores, software com <br><b>desconto de xx%</b></p>
				<p><button class="btn btn-primary">Retirar	</button></p>
			</div>

		</div>
	</div>
</template>

